language: php

dist: trusty

cache:
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.npm

php:
  - 7.2
  - 8.0
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
  fast_finish: true

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

before_script:
  - make deps-js
  - travis_retry composer update --no-interaction

script:
  - vendor/bin/phpcs -p --warning-severity=0 --ignore=test/server src/ test/
  - vendor/bin/phpunit --coverage-clover=./tests/report/coverage.clover
    --testsuite unit
  - make test-functional

after_script:
  - test -f ./tests/report/coverage.clover && (wget
    https://scrutinizer-ci.com/ocular.phar; php ocular.phar code-coverage:upload
    --format=php-clover ./tests/report/coverage.clover)
